
body {
  height: 100vh;
  background-color: #e1e1e1 !important; 
}


.nav{
  background-color: #ffd014;
}

.nav-item a{
  color: #ffffff;
  font-size: 25px;
}

.form-floating{
  width: 400px;
}

.form-floating input{
  border: none;
  
}

.formText{
  margin-left: 550px;
  margin-top: 50px;
  border: 1px solid #c0c0c1;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  display: inline-grid;
  width: 400px;

}

.formText input {
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
}



.addNote svg{
  width: 30px;
  height: 30px;
  background-color: #ffd014;
  border-radius: 50%;
  position: absolute;
  left: 350px;
  top: 85px;
}

.notesList{
  border: 1px solid #000000;
  width: 500px;
  margin-left: 500px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  
  
}

.notesList h3,p{
  padding-left: 10px;
}

.listText {
 border-bottom: 1px solid #c0c0c1;
}

.notesList svg{
  width: 30px;
  height: 30px;
  background-color: #ff8686;
  border-radius: 5px;
  margin-left:450px;
  margin-top: -80px;
  
}


